scipy<=1.11.4
torch
torchvision
tqdm
numpy
matplotlib
adversarial-robustness-toolbox
scikit-learn
statsmodels
git+https://github.com/RobustBench/robustbench.git
jupyter
jupyterlab
ipywidgets
tabulate
